body{
    height:100%;
    width:100%;
    background:yellowgreen;
    font-family:$base-font-family;
    font-size:$base-font-size;
    color:$base-font-color;
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight:400;
    line-height:$base-line-height;
    color:$base-font-color;
  }
  h1{
    font-size:$h1-font-size;
  }
  h2{
    font-size:$h2-font-size;
  }
  h3{
    font-size:$h3-font-size;
  }
  h4{
    font-size:$h4-font-size;
  }
  h5{
    font-size:$h5-font-size;
  }
  h6{
    font-size:$h6-font-size;
  }
  p{
    font-size:$base-font-size;
    line-height:$base-line-height;
    color:$base-font-color;
  }
  .p-large{
    font-size:$large-font-size;
  }
  .p-small{
    font-size:$small-font-size;
  }